{% extends 'base.html.twig' %}

{% block title %}Verify{% endblock %}

{% block body %}

    <h1>Verify Email</h1>

    <p>Visit {{ app.user.email }} and validate your email by clicking in the link.</p>
{% endblock %}
